<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guest book</title>
    <link rel="stylesheet" href="/stylesheets/textStyle.css" />
    <link rel="stylesheet" href="/stylesheets/guestbook.css" />
  </head>

  <body>
    <div class="container">
      <div class="box">
        <div class="box-top">
          <div class="box-text">
            <div>
              <p>Guest book</p>
            </div>
          </div>
          <div class="box-icons">
            <div class="edit-icon">+</div>
            <div class="x-icon">X</div>
          </div>
        </div>
        <div class="box-bottom">
          <!-- 한칸 -->
          <div class="big-container">
            <div class="mess-container">
              <div>
                <p class="mess-content1">500</p>
                <p class="mess-date">3/29/2023 5:43PM</p>
              </div>
              <div class="mess-del">
                <p>삭제</p>
              </div>
            </div>
            <div class="mess-content2">
              <p>점심으로 마라탕 ㄱ?</p>
            </div>
          </div>

          <!-- 두칸 -->
          <div class="big-container">
            <div class="mess-container">
              <div>
                <p class="mess-content1">YB</p>
                <p class="mess-date">3/29/2023 5:43PM</p>
              </div>
              <div class="mess-del">
                <p>삭제</p>
              </div>
            </div>
            <div class="mess-content2">
              <p>우리 5월 20일에 콘서트 가자!!!</p>
            </div>
          </div>

        <!-- 세칸 -->
        <div class="big-container">
          <div class="mess-container">
              <div>
                <p class="mess-content1">Anonymous</p>
                <p class="mess-date">3/30/2023 12:43AM</p>
              </div>
              <div class="mess-del">
                <p>삭제</p>
              </div>
            </div>
            <div class="mess-content2">
              <p>Happy Birthday!</p>
            </div>            
          </div>


        <!-- 네칸 -->
        <div class="big-container">
          <div class="mess-container">
              <div>
                <p class="mess-content1">Light</p>
                <p class="mess-date">3/30/2023 11:50PM</p>
              </div>
              <div class="mess-del">
                <p>삭제</p>
              </div>
            </div>
            <div class="mess-content2">
              <p>--------</p>
            </div>            
          </div>

        <!-- 작성 -->
            <div class="big-container">
                    <input type="text" placeholder="방명록을 작성해주세요" class="text">
                    </input>

                <div class="button-container">  
                    <input type="button" value="취소" class="cancel-button"></input> 
                    <input type="button" value="완료" class="complete-button"></input>       
                </div>  
            </div>
          
          <div class="mess-border"></div>
        </div>
      </div>
    </div>
    
  </body>
  
</html>
