<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <link rel="stylesheet" href="/stylesheets/textStyle.css" />
    <link rel="stylesheet" href="/stylesheets/homepage.css" />
  </head>

  <body>
    <div class="upside">
      <div class="left">송민우</div>
      <div class="right">
        <div><strong>홈 꾸미기</strong></div>
        <div><strong>파도타기</strong></div>
        <div>FRI MAR 31</div>
        <div>10:24 AM</div>
      </div>
    </div>

    <div class="foldercontainer">
        <div class="folderimage-container">
          <div class="folderimage"></div>
          <div class="foldertext">Archive</div>
        </div>
        <div class="folderimage-container">
          <div class="folderimage"></div>
          <div class="foldertext">Playlist</div>
        </div>
        <div class="folderimage-container">
          <div class="folderimage"></div>
          <div class="foldertext">Guest Book</div>
        </div>
        <div class="folderimage-container">
          <div class="folderimage_plus"></div>
        </div>
      </div>

    <div class="wrapper">
      <!-- 여기서부터 웹페이지의 내용을 작성하시면 됩니다. -->
    </div>
  </body>
</html>
