<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <link rel="stylesheet" href="/stylesheets/textStyle.css" />
    <link rel="stylesheet" href="/stylesheets/homepage.css" />

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
    // 초기에 팝업창을 숨김
    $('.popup-1, .popup-2, .popup-3').css('display', 'none'); 

    $('.message-button').on('click', function(e) {
        e.preventDefault();
        $('.popup-1').fadeIn();
    });

    $('.edit-icon').on('click', function(e) {
        e.preventDefault();
        $('.popup-1').fadeOut();
        $('.popup-2').fadeIn();
    });
    //big-container
    $('.big-container').on('click', function(e) {
        e.preventDefault();
        $('.popup-1').fadeOut();
        $('.popup-3').fadeIn();
    });

    // 'X' 버튼을 클릭했을 때 팝업을 숨깁니다.
    $('.x-icon').on('click', function(e) {
        e.stopPropagation();
        $('.popup-1, .popup-2, .popup-3').fadeOut();
    });

    $('.popup-1, .popup-2, .popup-3').on('click', function(e) {
        e.stopPropagation();
    });
});
    </script>
  </head>

  <body>
    <div class="upside">
      <div class="left">송민우</div>
      <div class="right">
        <div><strong>홈 꾸미기</strong></div>
        <div><strong>파도타기</strong></div>
        <div>FRI MAR 31</div>
        <div>10:24 AM</div>
      </div>
    </div>

    <div class="foldercontainer">
        <div class="folderimage-container">
          <div class="folderimage"></div>
          <div class="foldertext">Archive</div>
        </div>
        <div class="folderimage-container">
          <div class="folderimage"></div>
          <div class="foldertext">Playlist</div>
        </div>
        <div class="folderimage-container">
          <div class="folderimage"></div>
          <div class="foldertext">Guest Book</div>
        </div>
        <div class="folderimage-container">
          <div class="folderimage_plus"></div>
        </div>
      </div>

      <div class="message-container">
        <div class ="messageimage-container">
          <div class="message-button"></div>
          <div class="message-text">쪽지함</div>
        </div>
      </div>
<!--팝업-->
      <div class="popup popup-1">
        <div class="container">
          <div class="box">
            <div class="box-top">
              <div class="box-text">
                <div>
                  <p>쪽지함</p>
                </div>
              </div>
              <div class="box-icons">
                <div class="edit-icon">Write</div>
                <div class="x-icon">X</div>
              </div>
            </div>
            <div class="box-bottom">
              <!-- 한칸 -->
              <div class="big-container">
                <div class="mess-container">
                  <div class="mess-logo"></div>
                  <div class="mess-content1">
                    <p>Smile_2</p>
                  </div>
                  <div class="mess-date">
                    <p>3/29/2023 5:43PM</p>
                  </div>
                </div>
                <div class="mess-content2">
                  <p>Thank you for borrowing book!</p>
                </div>
              </div>
    
              <!-- 두칸 -->
              <div class="big-container">
                <div class="mess-container">
                  <div class="mess-logo"></div>
                  <div class="mess-content1">
                    <p>YB</p>
                  </div>
                  <div class="mess-date">
                    <p>3/29/2023 5:43PM</p>
                  </div>
                </div>
                <div class="mess-content2">
                  <p>가오갤 개봉했다는데 이번주 금요일 어떻묘?</p>
                </div>
              </div>
    
            <!-- 세칸 -->
            <div class="big-container">
              <div class="mess-container">
                  <div class="mess-logo"></div>
                  <div class="mess-content1">
                    <p>Anonymous</p>
                  </div>
                  <div class="mess-date">
                    <p>3/30/2023 12:43AM</p>
                  </div>
                </div>
                <div class="mess-content2">
                  <p>Happy Birthday!</p>
                </div>            
              </div>
    
    
            <!-- 네칸 -->
            <div class="big-container">
              <div class="mess-container">
                  <div class="mess-logo"></div>
                  <div class="mess-content1">
                    <p>Light</p>
                  </div>
                  <div class="mess-date">
                    <p>3/30/2023 11:50PM</p>
                  </div>
                </div>
                <div class="mess-content2">
                  <p>종강 언제하냐</p>
                </div>            
              </div>
              <div class="mess-border"></div>
            </div>
          </div>
        </div>
      </div>
  

  <!--팝업2-->
  <div class="popup popup-2">
    <div class="container2">
      <div class="box2">
        <div class="box-top2">
          <div class="box-text2">
            <div>
              <p>쪽지보내기</p>
            </div>
          </div>
          <div class="box-icons">
            <!--<div class="edit-icon">Edit</div>-->
            <div class="x-icon">X</div>
          </div>
        </div>
  
        <!--하단부분-->
          <div class="box-bottom2">
            <!-- Dear -->            
            <div class="mess-container2">
                <div class="mess-content1D"><p>Dear</p></div>
              </div>
            <div class = "white-box12">
              <div class = "dear-logo2"></div>
              <p>MINWOO</p>
            </div>
            <div class = "white-box22">
              <div class = "box2-text" >
                <p>7주차도 이겨내보자!!<br>화이팅</p>
              </div>
            </div>
  
            <div class = "send-button">
              <p>보내기</p>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="popup popup-3">
        <div class="container">
          <div class="box">
            <div class="box-top">
              <div class="box-text">
                <div>
                  <p>받은쪽지</p>
                </div>
              </div>
              <div class="box-icons">
                <!--<div class="edit-icon">Edit</div>-->
                <div class="x-icon">X</div>
              </div>
            </div>
    
            <!--하단부분-->
            <div class="box-bottom">
              <!-- Dear -->            
              <div class="mess-container">
                  <div class="mess-content1D"><p>From</p></div>
                </div>
              <div class = "white-box1">
                <div class = "dear-logo"></div>
                <p>YB</p>
              </div>
              <div class = "white-box2"><p>가오갤 개봉했다는데<br>이번주 금요일 어떻묘?</p>
              </div>
    
            <!--button-->
            <div class = "buttons">
                <div class = "send-button1">
                    <p>답장</p>
                  </div>
                  <div class = "send-button2">
                    <p>삭제</p>
                  </div>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  
  </body>
</html>