<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loading Progress Bar</title>
    <link rel="stylesheet" href="/stylesheets/textStyle.css" />
    <link rel="stylesheet" href="/stylesheets/loading.css" />
  </head>

  <body>
    <div class="wrapper">
      <div id="guideText">
        <div class="title">잠시만 기다려주세요...</div>
        <div class="semiTitle">당신의 홈페이지를 불러오고 있습니다</div>
      </div>
      <div class="progress-container">
        <div class="progress-bar"></div>
      </div>
    </div>

    <script src="/script/loading.js"></script>
  </body>
</html>
