<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loading Progress Bar</title>
    <link rel="stylesheet" href="/stylesheets/textStyle.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>

  <body>
    <div class="wrapper">
      <div id="guideText">
        <div class="title">다꾸OS</div>
      </div>

      <!--naver-->
      <div
        class="naver-container"
        style="cursor: pointer"
        onclick="location.href='http://localhost:3000/welcome'"
      >
        <div class="naver-logo" style="cursor: pointer"></div>
        <div class="naver-content">
          <p>네이버로 시작하기</p>
        </div>
      </div>

      <!--kakao-->
      <div class="kakao-container" style="cursor: pointer">
        <div class="kakao-logo"></div>
        <div class="kakao-content">
          <p>카카오로 시작하기</p>
        </div>
      </div>

      <!--apple-->
      <div class="apple-container" style="cursor: pointer">
        <div class="apple-logo"></div>
        <div class="apple-content">
          <p>Apple로 시작하기</p>
        </div>
      </div>

      <!--google-->
      <div class="google-container" style="cursor: pointer">
        <div class="google-logo"></div>
        <div class="google-content">
          <p>구글로 시작하기</p>
        </div>
      </div>

      <div class="do-login"><p>회원가입 하기</p></div>
    </div>
  </body>
</html>
