
<!-- 쪽지보내기 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sending message</title>
    <link rel="stylesheet" href="/stylesheets/textStyle.css" />
    <link rel="stylesheet" href="/stylesheets/message1.css" />
  </head>

  <body>
    <div class="container">
      <div class="box">
        <div class="box-top">
          <div class="box-text">
            <div>
              <p>쪽지보내기</p>
            </div>
          </div>
          <div class="box-icons">
            <!--<div class="edit-icon">Edit</div>-->
            <div class="x-icon">X</div>
          </div>
        </div>

        <!--하단부분-->
        <div class="box-bottom">
          <!-- Dear -->            
          <div class="mess-container">
              <div class="mess-content1"><p>Dear</p></div>
            </div>
          <div class = "white-box1">
            <div class = "dear-logo"></div>
            <p>MINWOO</p>
          </div>
          <div class = "white-box2">
            <div class = "box2-text" >
              <p>7주차도 이겨내보자!!<br>화이팅</p>
            </div>
          </div>

          <div class = "send-button">
            <p>보내기</p>
          </div>
        </div>
        </div>
      </div>
    </div>
    
  </body>
  
</html>
