<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loading Progress Bar</title>
    <link rel="stylesheet" href="/stylesheets/textStyle.css" />
    <link rel="stylesheet" href="/stylesheets/message.css" />
  </head>

  <body>
    <div class="container">
      <div class="box">
        <div class="box-top">
          <div class="box-text">
            <div>
              <p>쪽지함</p>
            </div>
          </div>
          <div class="box-icons">
            <div class="edit-icon">Edit</div>
            <div class="x-icon">X</div>
          </div>
        </div>
        <div class="box-bottom">
          <!-- 한칸 -->
          <div class="big-container">
            <div class="mess-container">
              <div class="mess-logo"></div>
              <div class="mess-content1">
                <p>Smile_2</p>
              </div>
              <div class="mess-date">
                <p>3/29/2023 5:43PM</p>
              </div>
            </div>
            <div class="mess-content2">
              <p>Thank you for borrowing book!</p>
            </div>
          </div>

          <!-- 두칸 -->
          <div class="big-container">
            <div class="mess-container">
              <div class="mess-logo"></div>
              <div class="mess-content1">
                <p>YB</p>
              </div>
              <div class="mess-date">
                <p>3/29/2023 5:43PM</p>
              </div>
            </div>
            <div class="mess-content2">
              <p>Let's go to Handong at Saturday!</p>
            </div>
          </div>

        <!-- 세칸 -->
        <div class="big-container">
          <div class="mess-container">
              <div class="mess-logo"></div>
              <div class="mess-content1">
                <p>Anonymous</p>
              </div>
              <div class="mess-date">
                <p>3/30/2023 12:43AM</p>
              </div>
            </div>
            <div class="mess-content2">
              <p>Happy Birthday!</p>
            </div>            
          </div>


        <!-- 네칸 -->
        <div class="big-container">
          <div class="mess-container">
              <div class="mess-logo"></div>
              <div class="mess-content1">
                <p>Light</p>
              </div>
              <div class="mess-date">
                <p>3/30/2023 11:50PM</p>
              </div>
            </div>
            <div class="mess-content2">
              <p>--------</p>
            </div>            
          </div>
          
          <div class="mess-border"></div>
        </div>
      </div>
    </div>
    
  </body>
  
</html>
