<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Onboarding page 1</title>
    <link rel="stylesheet" href="/stylesheets/textStyle.css" />
    <link rel="stylesheet" href="/stylesheets/onboarding1.css" />
</head>
<body>
  <div class="whole">
    <div class="step-progress">
        <div class="step-item">
            <div class="step-circle selected"><h4>1<h4></div>
            <div class="step-description selected"><h4>기본 정보</h4></div>
        </div>
        <div class="step-line"></div>
        <div class="step-item">
            <div class="step-circle"><h4>2</h4></div>
            <div class="step-description"><h4>다음 스탭</h4></div>
        </div>
        <div class="step-line"></div>
        <div class="step-item">
            <div class="step-circle"><h4>3</h4></div>
            <div class="step-description"><h4>다음 스탭</h4></div>
        </div>
        <div class="step-line"></div>
        <div class="step-item">
            <div class="step-circle"><h4>4</h4></div>
            <div class="step-description"><h4>마지막 스탭</h4></div>
        </div>
    </div>
    
    <div class="container">
      <div class="name-text">당신의 이름은 무엇인가요?
      </div>

      <div> <input type="text" class="input-field" placeholder="이름을 입력하세요">
      </div>

      <div class="btn" style="cursor: pointer"
      onclick="location.href='http://localhost:3000/onboarding2'">
        <button id="confirmButton"><span>확인</span></button>
      </div>
    </div>
</div>
</body>
</html>
