<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Onboarding page 2</title>
    <link rel="stylesheet" href="/stylesheets/textStyle.css" />
    <link rel="stylesheet" href="/stylesheets/onboarding2.css" />
    
</head>
<body>
    <div class="whole">
        <div class="step-progress">
            <div class="step-item">
                <div class="step-circle selected"><h4>1<h4></div>
                <div class="step-description selected"><h4>기본 정보</h4></div>
            </div>
            <div class="step-line"></div>
            <div class="step-item">
                <div class="step-circle"><h4>2</h4></div>
                <div class="step-description"><h4>다음 스탭</h4></div>
            </div>
            <div class="step-line"></div>
            <div class="step-item">
                <div class="step-circle"><h4>3</h4></div>
                <div class="step-description"><h4>다음 스탭</h4></div>
            </div>
            <div class="step-line"></div>
            <div class="step-item">
                <div class="step-circle"><h4>4</h4></div>
                <div class="step-description"><h4>마지막 스탭</h4></div>
            </div>
        </div>

        <div class="name">
            <h3>당신이 좋아하는 스타일을 선택해주세요<br>(나중에 다시 수정할 수 있습니다)</h3>
        </div>

        <div class="container">
            <div class="box-group">
                <button class="box"><img src="/images/사이버.png" id="boximg" alt="사이버 이미지"><span id="boxtext">사이버</span></button>
                <button class="box"><img src="/images/농장주.png" id="boximg" alt="농장주 이미지"><span id="boxtext">농장주</span></button>
            </div>
            <div class="box-group">
                <button class="box"><img src="/images/베이커.png" id="boximg" alt="베이커 이미지"><span id="boxtext">베이커</span></button>
                <button class="box"><img src="/images/방학.png" id="boximg" alt="방학 이미지"><span id="boxtext">방학</span></button>
            </div>
        </div>
    

        <div class="button">
            <button id="confirmButton" class="confirm-button"><span>확인</span></button>
        </div>
    </div>
</body>
</html>
