<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      document.addEventListener("keydown", closeModalOnEsc);
      function closeModalOnEsc(e) {
        e = e || window.event;
        const modal = document.getElementById("myModal");
        if (e.key === "Escape" && modal.style.display === "block") {
          closeModal();
        }
      }

      function openModal() {
        const modal = document.getElementById("myModal");
        const modalContent = document.getElementById("modalContent");
        modal.style.display = "block";

        // 화면 중앙에 모달창 배치
        modalContent.style.position = "fixed";
        modalContent.style.top = "50%";
        modalContent.style.left = "50%";
        modalContent.style.transform = "translate(-50%, -90%)";
      }

      function closeModal() {
        document.getElementById("myModal").style.display = "none";
      }
      function dragElement(elmnt) {
        const header = elmnt.querySelector(".custom-header");
        let offsetX, offsetY;

        header.onmousedown = dragMouseDown;

        function dragMouseDown(e) {
          e = e || window.event;
          e.preventDefault();
          offsetX = e.clientX - elmnt.getBoundingClientRect().left;
          offsetY = e.clientY - elmnt.getBoundingClientRect().top;

          document.onmouseup = closeDragElement;
          document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
          e = e || window.event;
          e.preventDefault();

          elmnt.style.position = "fixed";
          elmnt.style.left = e.clientX - offsetX + "px";
          elmnt.style.top = e.clientY - offsetY + "px";
          elmnt.style.margin = 0; // 이 부분을 추가해주세요
          elmnt.style.transform = "none"; // 이 부분을 추가해주세요
        }

        function closeDragElement() {
          document.onmouseup = null;
          document.onmousemove = null;
        }
      }
    </script>
  </head>
  <body>
    <button
      onclick="openModal()"
      style="
        background-color: #fff;
        outline: none;
        border-radius: 2px;
        padding: 12px;
      "
    >
      모달 열기
    </button>
  </body>
</html>
