<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link rel="stylesheet" href="/stylesheets/textStyle.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <script>
        var date = new Date();
        
        var daysOfWeek = ["일", "월", "화", "수", "목", "금", "토"];
        var day = daysOfWeek[date.getDay()];
        
        var months = ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"];
        var month = months[date.getMonth()];
        
        var dayOfMonth = date.getDate();
        
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();
        
        var time = hours + ":" + (minutes < 10 ? "0" + minutes : minutes) + ":" + (seconds < 10 ? "0" + seconds : seconds);
        
        document.getElementById("day").textContent = day;
        document.getElementById("month").textContent = month;
        document.getElementById("date").textContent = dayOfMonth;
        document.getElementById("time").textContent = time;

        setInterval(updateTime, 1000);
    </script>
</head>
<body>
    <div class="home"><div class="home-text"></div><span class="home-back">홈으로 돌아가기</span>
        <span class="home-deco">홈 꾸미기</span>
        <span class="wave">파도타기</span>
        <div id="date-time-container" >
            <span id="day"></span>
            <span id="month"></span>
            <span id="date"></span>
            <span id="time"></span>
          </div>
        </div>
    </div>

    <div class="whole">
        <div class="profile-header">
            <div class="profile">프로필</div>
            <span class="profile-fix">수정하기</span>
        </div>

        <div class="name-w"><span class="name-text">이름: </span><input type="text" class="name" placeholder="이름을 입력하세요"></div>
        <div class="email-w"><span class="email-text">이메일: </span><input type="email" class="email" placeholder="이메일을 입력하세요"></div>
        <hr>

        <!--naver-->
        <div class="naver-container">
            <div class="naver-logo"></div>
            <div class="naver-content">
                <p>네이버</p>
            </div>
        <input type="radio">연동하기
        </div>
        

        <!--kakao-->
        <div class="kakao-container">
            <div class="kakao-logo"></div>
            <div class="kakao-content">
                <p>카카오</p>
            </div>
        <div><input type="radio">연동하기</div>
        </div>
    </div>
    

    <script src="script.js"></script>
</body>