<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loading Progress Bar</title>
    <link rel="stylesheet" href="/stylesheets/textStyle.css" />
    <link rel="stylesheet" href="/stylesheets/loading.css" />
</head>

<body>
    <div >
        <progress></progress>
        <p>이 문장은 흰색으로 표시됩니다.</p>
    </div>
    <div class="wrapper">
        <div class="buttons">
            <button id="tutorial" class="button"><img src="손가락 이미지 경로" alt="손가락 이미지"><span>튜토리얼 보기</span></button>
            <button id="skip" class="button"><img src="손가락 이미지 경로" alt="손가락 이미지"><span>스킵하기</span></button>
            <button id="confirm" class="confirm-button"><input type="radio" name="confirm"><span>확인</span></button>
          </div>
    </div>

    <script src="/script/loading.js"></script>
</body>

</html>