<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loading Progress Bar</title>
    <link rel="stylesheet" href="/stylesheets/textStyle.css" />
    <link rel="stylesheet" href="/stylesheets/welcome.css" />
  </head>

  <body>
    <div class="wrapper">
      <div id="guideText">
        <div class="title">다꾸OS에 오신걸 환영합니다</div>
        <div class="semiTitle">
          자신의 이야기를 아카이빙하고<br />친구와 함께 추억을 공유해보세요
        </div>
        <div class="semiTitle">다꾸OS에서 할 수 있는 것들</div>
      </div>

      <div class="container">
        <div class="box">
          <p>다이어리 작성하고 아카이빙하기</p>
        </div>
        <div class="box">
          <p>친구들에게 이야기 공유하기</p>
        </div>
      </div>
      <div
        class="container"
        style="cursor: pointer"
        onclick="location.href='http://localhost:3000/onboarding1'"
      >
        <div class="box">
          <p>!~~~~~~~~~~~~</p>
        </div>
      </div>
    </div>
  </body>
</html>
