/* style.css */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    width: 350px;
    height: 350px;
    background-color: #dadada;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0; 
  }

  .box-top {
    flex: 1;
    height: 40px;
    background-color: #533cde;
    border-radius: 10px 10px 0 0;
    /*padding-top: 5px;*/
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: -10px;
    /* padding-top: -20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .box-text{
    color: #ffffff;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .box-icons {
    display: flex;
    align-items: center;
  }
  
  .edit-icon {
    margin-right: 15px;
    color: #ffffff;
  }
  
  .x-icon {
    background-color: #dadada;
    padding: 2px 6px;
    margin-right: 10px;
  }

  .box-content {
    flex: 1;
    background-color: #533cde;
  }
  

  .box-bottom{
    flex-shrink: 0;
    height: calc(100% - 46px); /* 수정: .box-bottom의 높이 조정 */
    overflow: hidden; /* 수정: 내용이 넘치면 숨기기 */
  }

  /*Dear 아래 내용*/
  .box-bottom{
    flex-shrink: 0;
    height: calc(100% - 46px); /* 수정: .box-bottom의 높이 조정 */
    overflow: hidden; /* 수정: 내용이 넘치면 숨기기 */
  }

  .white-box1{
    background-color: #ffffff;
    margin-left : 20px;
    margin-right : 100px;
    height: 35px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

  .dear-logo{
    width: 20px;
    height: 20px;
    /*left: 10%;*/
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background-image: url("../images/menicon.png");
    margin-right: 10px;
  }

  .mess-content1 {
    color: black;
    margin-left : 10px;
    margin-top: 20px;
  }

  .white-box2{
    background-color: #ffffff;
    margin-left : 20px;
    margin-right : 20px;
    margin-top: 30px;
    height: 120px;
    display: flex;
    align-items: flex-start; 
    padding-left : 10px;
    
  }

  .send-button{
    height: 30px;
    width: 80px;
    color: #ffffff;
    background-color: #533cde;
    margin-left: 250px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
  }

  /*쪽지보내기 페이지 - 쪽지함 내용*/
  .big-container{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #ffffff; 
  }

  .mess-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 370px;
    height: 23px;
    padding: 12px;
    overflow: hidden;
    position: relative;
    border-radius: 7px;
    margin-bottom: 10px;
    
  }

  .mess-content2 {
    flex: 1;
    font-size: small;
    color: black;
    margin-left: 20px;
    margin-top: -20px;
}


/*이거 없애면 안보임  */
  .mess-border{
    width: 100px;
    height: 300px;
    color:#ff0000
  }
