
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

  }
  
  .modal-content {
    
    background-color: #fff;
    margin: 15% auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.293);
    width: 1040px;
    height: 720px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
  }
  #modal-content{
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .custom-header {
    border-radius: 12px 12px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #533CDE;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor:grab;
  }
  
  .custom-header h1 {
    margin: 0;
    font-family: "Jalnan";
    font-size: 24px;
  }
  
  .close-btn {
    cursor: pointer;
    font-size: 40px;
  }

  .modal-footer {
    /* background-color: #f2f2f2; */

    margin: 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .hash-tags-container{
    width: 600px;
    text-align: left;

  }
  #hashTags:focus {
    outline: none;
  }
  #hashTags {
    display: inline;
    box-sizing: border-box;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    padding-bottom: 6px;
  }
  
  #tagList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
  }
  #addTagBtn{
    font-family: "Pretendard-Meidum";
    display: inline-block;
    background-color: #fff;
    color: #533CDE;
    text-decoration: none;
    padding: 4px 8px;
    margin-left: 12px;
    border-radius: 4px;
    border: 0px;
    text-align: center;
    font-size: 16px;

  }
  .tag {
    background-color: #f2f2f2;
    color: #333;
    padding: 5px;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  .tag:hover {
    background-color: #333;
    color: #fff;
  }
  .tag-remove {
    margin-left: 5px;
    color: #333;
    cursor: pointer;
  }


  
  #saveBtn{
    width: 140px;
    height: 60px;
    border-radius: 8px;
    background-color: #533CDE;
    font-size: 20px;
    font-family: "Pretendard-Bold";
    color: #fff;
  }

  /* customize 모달창에서 */
  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .grid-container2 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 10px 30px 10px 30px;
    font-size: 25px;
  }

  .color {
    width: 80px;
    height: 80px;
    background:#533CDE;
  }
  .modal-content2 {
    
    background-color: #fff;
    margin: 15% auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.293);
    width: 800px;
    height: 720px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
  }
  
  @font-face {
    font-family: 'jalnan';
    src: url('/fonts/Jalnan.ttf') format('truetype');

    font-family: 'pretendard';
    src: url('/fonts/Pretendard-Regular.ttf') format('truetype');
}
