body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #533cde;
  font-family: 'Pretendard-Semibold';
  }

.whole{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
  
/**//*흰 글씨*/
.sentence {
  padding: 5% 0%;
}

.sentence h3 {
  color: white;
  text-align: center;
}

.home-button {
  font-family: 'Jalnan';
  font-size: large;
  padding: 3%;
  width: 80%;
  background-color: white;
  color: #533CDE;
  border-radius: 10px;
  margin: 10% 0% 0% 0%;
}